<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="source" value="MySql" />

    <!--Nosco-->
    <!--<add key="urlNoscoRemota" value="http://salta.myvnc.com:8025/nosco/externos/url_extensiones.php" />
    <add key="urlNosco" value="http://192.168.4.25/nosco/externos/url_extensione" />
    <add key="MySqlConnetionString" value="Server=192.168.5.20;Port=3306;Database=shaman;Uid=Shaman;Pwd=7M9vY6tjN7hk9;" />-->
    <add key="MySqlConnetionString" value="Server=192.168.3.242;Port=3306;Database=acd;Uid=emerger;Pwd=eSAL*939_a;" />
    <add key="MySqlConnetionStringDESA" value="Server=192.168.3.242;Port=3306;Database=acd;Uid=emerger;Pwd=eSAL*939_a;" />
    <!--miliseconds-->
    <add key="TimeInterval" value="1000" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>