<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="source" value="CyTconnect" />
    <add key="mode" value="test" />
    <!--CyT-->
    <!--<add key="mCyTServer" value ="172.20.20.5"/>-->
    <!--Paramedic-->
    <add key="mCyTServer" value ="192.168.0.203"/>
    <add key="mCyTPort" value="1402" />

    <add key="databaseType" value="cache" />
    <add key="cacheNameSpace" value="SHAMAN" />
    <add key="cachePort" value="1972" />
    <add key="cacheServer" value="200.49.156.125" />
    <add key="cacheShamanAplicacion" value="EMERGENCIAS" />
    <add key="cacheShamanCentro" value="1" />
    <add key="cacheShamanUser" value="JOB" />
    <add key="Password" value="rLOGNFRSWhU3c2LP9Gybug==" />
    <add key="UserID" value="IDoMLneOe6l783zrc/Thyw==" />
    <add key="tangoEmpresaId" value="3" />

    <!--<add key="source" value="Nosco"/>-->
    <!--Salta Paramedic-->
    <!--<add key="urlNoscoRemota" value="http://salta.myvnc.com:8025/nosco/externos/url_extensiones.php" />-->
    <!--Salta Paramedic-->
    <!--<add key="urlNosco" value="http://192.168.4.25/nosco/externos/url_extensiones.php" />-->
    <!--U 24-->
    <!--<add key="urlNosco" value="http://10.0.0.11:80/nosco/externos/url_extensiones.php"/>-->
    
    <!--<add key="MySqlConnetionString" value="Server=192.168.5.20;Port=3306;Database=shaman;Uid=Shaman;Pwd=7M9vY6tjN7hk9;" />
    <add key="MySqlConnetionString" value="Server=192.168.3.242;Port=3306;Database=acd;Uid=emerger;Pwd=eSAL*939_a;" />
    <add key="MySqlConnetionStringDESA" value="Server=192.168.3.242;Port=3306;Database=acd;Uid=emerger;Pwd=eSAL*939_a;" />-->
    <!--miliseconds-->
    <add key="TimeInterval" value="1000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
